/* 这些样式原本是在 Articles.vue 当中 */

.color0 {
    background-color: #FFCCCC;
}

[data-theme='dark'] .color0 {
    background-color: #993333;
}

.color1 {
    background-color: #FFCC99;
}

[data-theme='dark'] .color1 {
    background-color: #996600;
}

.color2 {
    background-color: #CCFFCC;
}

[data-theme='dark'] .color2 {
    background-color: #669933;
}

.color3 {
    background-color: #99CC33;
}

[data-theme='dark'] .color3 {
    background-color: #006633;
}

.color4 {
    background-color: #CCFF99;
}

[data-theme='dark'] .color4 {
    background-color: #339999;
}

.color5 {
    background-color: #99CCFF;
}

[data-theme='dark'] .color5 {
    background-color: #006699;
}
