
code {
    background-color: var(--main-bg-color);
    transition: var(--transition-attribute);
}

.vp-adaptive-theme {
    position: relative;

    padding: 8px 8px 8px 8px;
    border-radius: 5px;

    background-color: var(--main-bg-color);
}

.vp-code {
    overflow-x: auto;
    
}

.copy {
    float: right;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    box-shadow: var(--basic-card-shadow);
    transition: var(--transition-attribute);
}

.copy::after {
    content: "复制代码";
}

.copied {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}

.copied::after {

    content: "复制成功";
}

.line span{
    color: var(--shiki-light);
}

[data-theme='dark'] .line span {
    color: var(--shiki-dark);
}

img {
    max-width: 100%;
}

ul li a, p a {
    display: inline-block;
    text-decoration: underline;
    transition: transform 0.3s ease, var(--text-transition-attribute);
}

ul li a:hover, p a:hover {
    transform: translateY(-2px);
    color: gray;
}
