
html {
  font-family: Arial, Helvetica;
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
